<i class="icon big-icon-svg" ng-include="'views/includes/walletIcon.html'"></i>
<span>
  {{account.name || account.id}}
</span>
<p>
  <span ng-if="!account.balanceHidden"> {{account.cachedBalanceStr + (account.cachedBalanceUpdatedOn ? ' &middot; ' + (account.cachedBalanceUpdatedOn  * 1000 | amTimeAgo) : '')}} </span>

  <span ng-if="account.balanceHidden" translate>[Balance Hidden]</span>
  <i ng-if="!account.balanceHidden && (account.cachedPending > 0)" class="tab-home__wallet__pending-icon ion-android-arrow-back"></i>
  <span ng-if="!account.balanceHidden && (account.cachedPending > 0)"> {{account.cachedPendingStr}} </span>
  <i ng-if="!account.balanceHidden" class="tab-home__wallet__status-icon ion-ios-timer-outline"></i>
  <span class="assertive" ng-if="account.error">{{account.error}}</span>
  &nbsp;
</p>
<i class="icon bp-arrow-right"></i>
