<i class="icon big-icon-svg" ng-include="'views/includes/walletIcon.html'"></i>
<span ng-if="account.work === null">
  <div class="fa-stack fa hourglass-spin">
    <i class="fa fa-stack-1x fa-hourglass-start"></i>
    <i class="fa fa-stack-1x fa-hourglass-half"></i>
    <i class="fa fa-stack-1x fa-hourglass-end"></i>
    <i class="fa fa-stack-1x fa-hourglass-end spin"></i>
  </div>
</span>
<span ng-if="account.meta && account.meta.alias && account.meta.alias.alias">
  @{{account.meta.alias.alias}}
</span>
<span ng-if="!account.meta || !account.meta.alias || !account.meta.alias.alias">
  {{account.name || account.id}}
</span>
<p>
  <span ng-if="!account.meta.balanceHidden && account.alternativeBalanceStr"> {{account.balanceStr}} <span ng-hide="account.alternativeBalanceStr == 'hide'">&asymp; {{account.alternativeBalanceStr}}</span></span>

  <span ng-if="account.meta.balanceHidden" translate>[Balance Hidden]</span>
  <i ng-if="!account.meta.balanceHidden && (account.cachedPendingBalance > 0)" class="tab-home__wallet__pending-icon ion-android-arrow-back"></i>
  <span ng-if="!account.meta.balanceHidden && (account.cachedPendingBalance > 0)"> {{account.pendingBalanceStr}} </span>
  <span class="assertive" ng-if="account.error">{{account.error}}</span>
  &nbsp;
</p>
<i class="icon bp-arrow-right"></i>
