<div class="wallet-details__group-label" ng-if="!isSearching ? isFirstInGroup($index) : false">
  <span ng-if="isDateInCurrentMonth(getDate(btx.time))">
    <span translate>Recent</span>
  </span>

  <span ng-if="!isDateInCurrentMonth(getDate(btx.time))">
    {{getDate(btx.time) | amDateFormat:'MMMM'}}
  </span>
</div>

<a class="wallet-details__item item">
  <img class="wallet-details__tx-icon" src="img/icon-tx-received-outline.svg" width="40" ng-if="btx.type == 'receive' || btx.type == 'open'">
  <img class="wallet-details__tx-icon" src="img/icon-tx-sent-outline.svg" width="40" ng-if="btx.type == 'send'">
  <img class="wallet-details__tx-icon" src="img/icon-tx-rep.svg" width="40" ng-if="btx.type == 'change'">

  <div class="wallet-details__tx-content" ng-class="{'no-border': !isSearching ? isLastInGroup($index) : false}">

    <div class="wallet-details__tx-title">
      <div ng-show="btx.type == 'receive' || btx.type == 'open'">
        <div ng-if="btx.note" class="wallet-details__tx-message ellipsis">{{btx.note}}</div>
        <div ng-if="addressbook[btx.origin]" class="wallet-details__tx-message ellipsis">
          {{addressbook[btx.origin].name}}
        </div>
        <div ng-if="!addressbook[btx.origin]" class="wallet-details__tx-message ellipsis">{{btx.origin}}</div>
      </div>

      <div ng-show="btx.type == 'send'">
        <div ng-if="btx.note" class="wallet-details__tx-message ellipsis">{{btx.note}}</div>
        <div ng-if="addressbook[btx.destination]" class="wallet-details__tx-message ellipsis">
          {{addressbook[btx.destination].name}}
        </div>
        <div ng-if="!addressbook[btx.destination]" class="wallet-details__tx-message ellipsis">{{btx.destination}}</div>
      </div>

      <div ng-show="btx.type == 'change'">
        <div ng-if="btx.note" class="wallet-details__tx-message ellipsis">{{btx.note}}</div>
        <div class="wallet-details__tx-message ellipsis">
          {{btx.representative}}
        </div>
        <div class="wallet-details__tx-message ellipsis" translate>Representative changed</div>
      </div>

      <span class="label tu warning radius" ng-if="btx.type == 'invalid'" translate>Invalid</span>
    </div>

    <span class="item-note text-right wallet-details__tx-amount">
      <span ng-if="btx.type !== 'change'" class="wallet-details__tx-amount" ng-class="{'wallet-details__tx-amount--recent': btx.recent, 'wallet-details__tx-amount--received': (btx.type == 'receive' || btx.type == 'open'), 'wallet-details__tx-amount--sent': btx.type == 'send'}">
        <span ng-if="btx.type === 'send'">–</span>
        {{btx.amountStr}}
      </span>
      <div>
        <time class="wallet-details__tx-time" ng-if="btx.time">{{btx.timeStr}}</time>

        <!-- This works fine, but I dont't really like it. time class="wallet-details__tx-time" ng-if="btx.time && createdWithinPastDay(btx.time * 1000)">{{btx.time * 1000 | amTimeAgo}}</time>
        <time class="wallet-details__tx-time" ng-if="btx.time && !createdWithinPastDay(btx.time * 1000)">
          {{btx.time * 1000 | amDateFormat:'MMM D, YYYY'}}
        </time-->
      </div>
    </span>
  </div>
</a>
