#onboarding-create-password.onboarding {
  .settings-input-group {
    padding-bottom: 2vw;
  }
  .list.settings-list.settings-input-group {
    text-align: left !important;
  }
  img {
    height: 17%;
    margin: 7px 0 15px 0;
  }
  .matching, .not-matching {
    margin-top: 5px;
    text-align: right;
  }
  .matching {
    color: $v-success-color;
  }
  .not-matching {
    color: $v-error-color;
  }

  .item-stacked-label {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 4vw;
  }
}
