#onboarding-tour {
  &-currency {
    .next-slide {
      margin-top: 3rem;
    }
  }
  .cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 12vh;
  }
  #onboarding-illustration-currency-exchange-rate {
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 38px;
    margin: 10px auto 0;
    position: relative;
    width: 140px;
    z-index: 1;
  }
  .onboarding-description {
    font-family: 'Roboto-Thin';
    font-size: 20px;
  }
  .swiper-pagination {
    &-bullet {
      background: $v-onboarding-tour-swiper-pagination-bg;
      &-active {
        background: $v-onboarding-tour-swiper-pagination-bg;
      }
    }
  }
}

#onboarding-create-password,
#onboarding-create-alias.onboarding {
  .settings-input-group {
    padding-bottom: 2vw;
  }

  .create-password-form .list {
    height: 140px;
  }

  ion-list > .list {
    width: 85%;
  }
  .list {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px;
    @include center-block();
    .item {
      &:first-child {
        padding-top: 0;
        padding-left: 0;
      }
    }
  }
  .item {
    background: transparent;
    border: none;
    color: $v-light-color;
    text-align: left;
    .checkbox input:before,
    .checkbox .checkbox-icon:before {
      border-color: $v-onboarding-checkbox-off-border;
      background: transparent;
    }
    .checkbox input:after,
    .checkbox .checkbox-icon:after {
      border-color: $v-onboarding-checkbox-on-border;
    }
    .checkbox input:checked:before,
    .checkbox input:checked + .checkbox-icon:before {
      border-color: $v-onboarding-checkbox-on-border;
    }
    .item-content {
      width: 90%;
      margin-left: 6%;
      white-space: normal;
    }
  }
  .item-checkbox .checkbox {
    margin-left: 3%;
    top: 38%;
    left: 0;
  }
  .list.settings-list.settings-input-group {
    text-align: left !important;
  }
  img {
    height: 15%;
    margin: 20px 0 0 0;
  }

  form {
    height: 50%;
    display: flex;
    align-items: center;
  }

  input {
    height: 46px;
    background: none;
    font-size: 32px;
    color: white;
    line-height: 30px;
    margin-left: auto !important;
    padding: 0 !important;
  }

  input::selection {
    background: purple;
    color: white;
  }

  input:focus,
  input:active {
    color: white;
  }

  .bad-password {
    color: $v-error-color;
    margin-top: -7px;
  }

  .good-password {
    color: $v-success-color;
  }

  .good-password,
  .bad-password {
    padding-left: 0px !important;
    margin-left: 0 !important;
  }

  .input-password {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px dotted rgba(255, 255, 255, 0.36) !important;
    padding-left: 0px !important;
  }

  .showPassword {
    text-align: right;
    font-size: 32px !important;
    display: contents;
    width: initial;
  }

  .password-message {
    min-height: 50px;
  }


  .item {
    border: none;
  }

  .item .input-label {
    color: rgba(255, 255, 255, 1);
    font-size: small;
  }

  span.input-label {
    width: 100%;
  }

  label {
    padding-left: 0px !important;
  }

  .item-stacked-label {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 19vw;
    position: static;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12vh;
  }
}
