#onboarding-create-password.onboarding {
  .settings-input-group {
    padding-bottom: 2vw;
  }
  .list.settings-list.settings-input-group {
    text-align: left !important;
  }
  img {
	  height: 20%;
	  margin: 15px 0 30px 0;
  }
  .item-stacked-label{
	  width: 85%;
	  margin-left: auto;
	  margin-right: auto;
  }
  .cta-buttons {
    @extend %cta-buttons;
    padding-bottom: 4vw;
  }
}
