[Desktop Entry]
Type=Application
Name=Canoe
Comment=Nano Wallet
Exec=canoe
Icon=canoe
Terminal=false
Categories=Office;Finance;
MimeType=x-scheme-handler/xrb;
X-AppImage-BuildId=0.3.4
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
