<ion-view id="onboarding-create-password" class="onboarding">
  <ion-content scroll="false">
      <div class="onboarding-topic" translate>Passwords. They are important!</div>
      <div class="onboarding-tldr" id="backup-tldr" translate>Choose a strong password. Your RaiBlocks are on the line; you know the drill!</div>

        <img src='img/password.svg' id="password" />
	<div class="list settings-list settings-input-group">
		<!-- New Password -->
		<label class="item item-input item-stacked-label">
				<span class="input-label" translate>New Password</span>
				<input type="password"
					placeholder="{{'Insert your new password. Make it good!'|translate}}"
					ng-model="formData.password">
			</label>

		<!-- Confirm New Password -->
			<label class="item item-input item-stacked-label">
				<span class="input-label" translate>Confirm New Password</span>
				<input type="password"
					placeholder="{{'One more time'|translate}}"
					ng-model="formData.password">
			</label>
		</div>

    <div class="cta-buttons">
      <div class="onboarding-tldr" id="backup-tldr" translate>This password will be used to encrypt your wallet from prying eyes.</div>
      <button class="button button-standard button-primary" ng-click="createDefaultWallet()"  translate>Create Password</button>
    </div>
  </ion-content>
