<ion-view class="onboarding" id="onboarding-tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-hide="data.index > 2" ng-click="changeSlide(3,150)">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content id="onboard-tour-secure" scroll="false">
        <div class="onboarding-topic" translate>Nano is Instant</div>
        <div class="onboarding-description" translate>Transfer Nano instantly to anyone, anywhere.</div>
        <div class="onboarding-illustration-secure"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Just scan and pay.</div>
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            Got it
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-currency" scroll="false">
        <div class="onboarding-topic" translate>Nano is Feeless</div>
        <div class="onboarding-description" translate>Trade Nano for other currencies like USD or Euros. </div>
        <div class="onboarding-illustration-currency">
        </div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>Never pay transfer fees again!</div>
          <button class="button button-standard button-primary" ng-click="slideNext()" translate>
            Makes sense
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content id="onboard-tour-control" scroll="false">
        <div class="onboarding-topic" translate>Nano is Secure</div>
        <div class="onboarding-description" translate>Canoe stores your Nano using cutting-edge security.</div>
        <div class="onboarding-illustration-control"></div>
        <div class="cta-buttons">
          <div class="onboarding-tldr" translate>But do not lose your seed!</div>
          <button class="button button-standard button-primary" ng-click="slideNext()"  translate>
            Let's Start
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page class="no-swipe">
      <ion-content id="onboarding-create-password" scroll="false">
      <div class="onboarding-topic" translate>Encryption Time!</div>

      <form ng-submit="createDefaultWallet(password)" class="create-password-form" name='createPassword' novalidate>
        <div class="list settings-list settings-input-group">

          <div class="input-password item item-input item-stacked-label">
            <input 
               autocapitalize="none" 
               autocorrect="off" 
               id="input-password" 
               ng-model="password" 
               type="{{ typePassword ? 'text' : 'password' }}" 
               name="password" 
							 placeholder="{{'Password'|translate}}"
               required
            >

            <div class="showPassword" ng-click="togglePassword()">
              <i class="fa" ng-class="{ 
                'fa-eye': !typePassword,
                'fa-eye-slash': typePassword
                }"
              aria-hidden="true"></i>
            </div>
          </div>

          <label class="item item-input item-stacked-label password-message">
            <span ng-hide="password.length >= 8" class="input-label" translate>Enter at least 8 characters to encrypt your wallet.</span>
            <div ng-show="password.length >= 8" class="item item-input item-stacked-label good-password">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              <span translate>Password length ok</span>
            </div>
          </label>

					<div class="input-password item item-input item-stacked-label">
						<input 
							ng-model="passwordConfirm"
              id="input-password" 
              type="{{ typePassword ? 'text' : 'password' }}" 
							name="confirmPassword"
							autocapitalize="none"
							autocorrect="off"
							required
							data-password-verify="user.password"
							placeholder="{{'Confirm Password'|translate}}"
            >
          </div>
          <label class="item item-input item-stacked-label">
            <div ng-hide="password !== passwordConfirm || !password || !passwordConfirm" class="item item-input item-stacked-label good-password">
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              <span translate>Passwords match</span>
            </div>
          </label>
        </div>

          <div class="cta-buttons">
            <button
              class="button button-standard button-primary"
              ng-disabled="!password || !passwordConfirm || password!==passwordConfirm || password.length < 8"
              type="submit"
              translate>
              Create Wallet
            </button>
          </div>

      </form>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>

