#password-modal {
  .key {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-height: 80%;
    max-width: 80%;
  }
  input {
    padding: 0 20px;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.87);
    height: 57px;
    margin-bottom: 15px;
  }

  .password-unlock-header {
    margin-top: 40px;
    margin-bottom: 20px;
    p {
      color: rgba(0, 0, 0, 0.56);
      font-family: 'Roboto-Light';
    }
    h4 {
      color: rgba(0, 0, 0, 0.86);
    }
  }

  input:focus,
  input:active {
    background: white;
    color: rgba(0, 0, 0, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .forgot-password {
    margin-top: 10px;
    font-size: 15px;
    color: #0db4f3;
    border-bottom: 2px dotted #0db4f3;
    font-family: 'Roboto';
  }
  .item.item-input.item-stacked-label {
    border: none;
  }
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .content {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    .app-icon {
      margin-top: -55px;
      .big-icon-svg {
        > .bg {
          background-image: url('../img/icon.png');
          height: 60px;
          width: 60px;
          margin: auto;
        }
      }
    }
    .block-text {
      align-items: center;
      position: relative;
      color: white;
      background: linear-gradient(320deg, #524988 50%, #311c67 100%);
      height: 30%;
      .message {
        margin: auto;
      }
      span {
        width: 60%;
        margin: 10% auto;
      }
      @media (min-width: 480px) {
        span {
          font-size: 30px;
          width: 90%;
        }
      }
    }
    .block-code {
      width: 80%;
      margin: auto;
      @media (min-width: 480px) {
        width: 25%;
      }
    }

    button {
      max-width: initial;
      width: 100%;
      border-radius: 10px !important;
      margin-bottom: 15px;
    }
    .block-buttons {
      .col {
        padding: 5%;
      }
      color: $v-dark-gray;
      font-size: 1.7rem;
      font-family: $v-font-family-light;
      cursor: pointer;
      position: absolute;
      bottom: 3%;
      left: 5%;
      width: 90%;
      @media (min-width: 480px) {
        left: 15%;
        width: 70%;
        max-height: 55%;
      }
    }
  }
  @mixin circle {
    border-radius: 50%;
    box-shadow: 0 0 3px 0px #5b5b5b;
    transition: background-color 0.2s ease-in-out;
    padding: 7%;
    margin: 5%;
  }
  .circle-canoe {
    @include circle;
    border: 1px solid $v-accent-color;
  }
  .circle-bitpay {
    @include circle;
    border: 1px solid $v-primary-color;
  }
  .filled-canoe {
    background-color: $v-accent-color;
  }
  .filled-bitpay {
    background-color: #1f3598;
  }
  .error {
    color: #f13333;
    max-width: 70%;
  }
}

.arrow-up-container {
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.arrow-up {
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}
