/* Password unlock page shamelessly uses css in the onboarding password section. see onboard-tour.scss **/

#password-modal {
  background: linear-gradient(320deg, #000000 50%, #311c67 100%);
  padding-top: 60px;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  min-height: calc;
  width: 100%;

  .onboarding-topic {
    padding-top: 40px;
  }

  .list {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px;
    float: none;
    margin: 0 auto;
  }

  input {
    height: 46px;
    background: none;
    font-size: 32px;
    color: white;
  }

  p {
    font-family: 'Roboto-Light';
  }

  .showPassword {
    text-align: right;
    font-size: 32px !important;
    display: contents;
    color: white;
  }

  .showPasswordButtons p {
    color: white;
    font-weight: 700;
    min-width: 45px;
  }

  .bad-password {
    color: $v-error-color;
    padding-left: 0px;
  }

  h5 {
    color: white !important;
    margin-top: 20px;
  }

  .forgot-password {
    margin-top: 10px;
    font-size: 15px;
    border-bottom: 0.5px dotted #ffffff;
    font-family: 'Roboto-thin';
    color: white;
  }

  .item.item-input.item-stacked-label {
    border: none;
  }

  .input-password {
    border-bottom: .5px dotted rgba(255,255,255,.36) !important;
    margin-left: auto !important;
    padding: 0 !important;
  }

  .cta-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12vh;
  }
}

.password-container{
	display: flex;
	align-items: center;

	.showPassword{
		border: none;
		margin: 0px 5px;

		.item &.activated {
			background-color: #ffffff;
		}
	}
}