<ion-view id="add-address" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      <span translate>Add Contact</span>
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button back-button" ng-click="goHome()" ng-if="fromSendTab">
        {{'Cancel' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <form name="addressbookForm" no-validate>

      <div class="list add-address-list add-address-input-group">
        <label class="item item-input item-stacked-label no-border">
          <span class="input-label" translate>Name</span>
          <input type="text"
                 id="name"
                 placeholder="{{'Joe Doe' | translate}}"
                 name="name"
                 ng-model="addressbookEntry.name"
                 required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Email</span>
          <input type="email"
                 id="email"
                 placeholder="{{'joe.doe@example.com' | translate}}"
                 name="email"
                 ng-model="addressbookEntry.email">
        </label>
        <div>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate>Account</span>
            <div class="input-notification">
              <i ng-show="!addressbookForm.address.$invalid" class="icon ion-checkmark-circled valid"></i>
              <i ng-show="addressbookForm.address.$invalid && addressbookEntry.address" class="icon ion-close-circled invalid"></i>
            </div>
            <input type="text"
                   id="address"
                   name="address"
                   ng-model="addressbookEntry.address"
                   ng-disabled="addressbookEntry.alias"
                   valid-address required>
          </label>
          <div class="qr-scan-icon">
            <qr-scanner ng-show="!addressbookEntry.alias" on-scan="onQrCodeScannedAddressBook(data, addressbookForm)"></qr-scanner>
          </div>
        </div>
        <label ng-hide="true" class="item item-input item-stacked-label">
          <span class="input-label" translate>Alias</span>
          <input type="text"
                 id="alias"
                 placeholder="{{'joedoe' | translate}}"
                 name="alias"
                 autocorrect="off"
                 autocapitalize="none"
                 ng-change="validateAlias(addressbookEntry.alias)"
                 ng-model="addressbookEntry.alias">
        </label>
        <label class="item item-input item-stacked-label pending" ng-show="addressbookEntry.alias && aliasValid && checkingAlias">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          <span translate>Looking up @{{addressbookEntry.alias}}</span>
        </label>
        <label class="item item-input item-stacked-label matching" ng-show="addressbookEntry.alias && aliasValid && aliasRegistered">
          <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          <span translate>Alias Found!</span>
        </label>
        <label class="item item-input item-stacked-label not-matching" ng-show="addressbookEntry.alias && (aliasValid === false || aliasRegistered === false)">
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          <span translate>Invalid Alias!</span>
        </label>
      </div>

      <div class="padding">
        <button type="submit"
                class="button button-standard button-primary"
                ng-click="add(addressbookEntry)"
                ng-disabled="!addressbookForm.$valid || (addressbookEntry.alias && (!aliasValid || !aliasRegistered))" translate>
          Save
        </button>
      </div>

    </form>
  </ion-content>
</ion-view>
