<ion-view id="wallet-backup-seed" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Backup seed' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="ng-hide list card" ng-show="deleted">
      <div class="item heading">
        <span translate>Wallet seed not available</span>
      </div>
      <div class="item">
        <span class="comment" translate>You can still export it from Advanced &gt; Export.</span>
      </div>
    </div>

    <!--
      ## STEP 1
    -->
    <div id="wallet-backup-seed-step-1" class="ng-hide" ng-show="step == 1 && (!deleted)">
      <div class="initial-prompt" translate>Please carefully write down this 64 character seed.</div>
        <div class="backup-seed-content">
          <pre><span class="backup-seed-content-word-readonly">{{seedLines[0]}}</span></pre>
          <pre><span class="backup-seed-content-word-readonly">{{seedLines[1]}}</span></pre>
          <pre><span class="backup-seed-content-word-readonly">{{seedLines[2]}}</span></pre>
          <pre><span class="backup-seed-content-word-readonly">{{seedLines[3]}}</span></pre>
        </div>
      <div class="cta-buttons">
        <button ng-show="!deleted" ng-disabled="error" class="button button-standard button-primary" ng-click="goToStep(4);" translate>I've written it down</button>
      </div>
    </div>

    <!--
      ## STEP 3
    -->
    <div id="wallet-backup-seed-step-3" class="ng-hide" ng-show="step == 3">
      <h3 translate>Enter your password</h3>
      <div class="password-prompt">
        <div class="explanation">
          <div class="description" translate>In order to verify your wallet backup, please type your password.</div>
          <div class="input">
            <input type="password" id="passphrase" ng-model="data.passphrase" autocapitalize="off" spellcheck="false" autofocus/>
          </div>
        </div>
      </div>
      <div class="button-confirm">
        <button ng-disabled="!data.passphrase" class="button button-standard button-primary" ng-click="goToStep(4);" translate>Confirm</button>
      </div>
    </div>
  </ion-content>
</ion-view>
