<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Change Password' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

		<form name='changePassword' novalidate>
			<div class="list settings-list settings-input-group">
				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>Old Password</span>
					<input type="password"
						placeholder="{{'Your current password'|translate}}"
						ng-model="oldPassword"
						name="oldPassword"
						required
					>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>New Password</span>
					<input type="password"
						placeholder="{{'At least 8 Characters. Make it good!'|translate}}"
						ng-model="password"
						name="password"
						required>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>Confirm New Password</span>
					<input type="password"
						placeholder="{{'One more time.'|translate}}"
						ng-model="confirmPassword"
						name="confirmPassword"
						required
						data-password-verify="user.password">
					<div class="valid-password" ng-show="password && confirmPassword" >
						<div class="matching" ng-show="password === confirmPassword">
							<div ng-show="password.length >= 8">
								<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								<span translate>Passwords match</span>
							</div>
							<div ng-show="password.length < 8" class="too-short">
								<i class="fa fa-times-circle-o" aria-hidden="true"></i>
								<span translate>Password too short</span>
							</div>
						</div>
					</div>
					<div class="not-matching" ng-show="password && confirmPassword && password !== confirmPassword">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
						<span translate>Passwords don't match</span>
					</div>
				</label>

			</div>

			<div class="cta-buttons">
				<button
					class="button button-standard button-primary"
					ng-disabled="!password || !confirmPassword || password!==confirmPassword || password.length < 8"
					type="submit"
					ng-click="changePass(password, oldPassword)"
					translate>
					Change Password
				</button>
			</div>
		</form>

	</ion-content>
</ion-view>
