<ion-view cache-view="false" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Change Lock Settings' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

		<form name='changeLocks' novalidate>
			<div class="list settings-list settings-input-group">

				<div class="comment" translate>
					After no user activity for soft timeout in seconds, Canoe is locked using selected lock type. Choosing None disables locking after soft timeout.
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>Soft Timeout</span>
					<input type="number"
						placeholder="{{'Timeout in seconds'|translate}}"
						ng-model="timeoutSoft"
						name="timeoutSoft"
						required>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>Soft Timeout Lock</span>
					<div class="list">
						<ion-radio name="lockTypeSoft" ng-value="'none'" ng-model="lockTypeSoft" ng-click="saveLockTypeA('none')" translate>None</ion-radio>
						<ion-radio name="lockTypeSoft" ng-value="'pin'" ng-model="lockTypeSoft" ng-click="saveLockTypeA('pin')" translate>4-digit PIN</ion-radio>
						<ion-radio ng-if="enabledFingerprint" name="lockTypeSoft" ng-value="'fingerprint'" ng-model="lockTypeSoft" ng-click="saveLockTypeA('fingerprint')" translate>Fingerprint</ion-radio>		
					</div>
				</label>

				<div class="comment" translate>
					After additional hard timeout in seconds, Canoe will lock and demand password to unlock. You can not disable this timeout, but you can set it very high.</p>
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>Hard Timeout</span>
					<input type="number"
						placeholder="{{'Timeout in seconds'|translate}}"
						ng-model="timeoutHard"
						name="timeoutHard"
						required>
				</label>

				<div class="comment" translate>
					When Canoe goes to background, this is the lock type used. Disable background locking by selecting None.</p>
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label" translate>Lock when going to background</span>
					<div class="list">
						<ion-radio name="lockTypeBackground" ng-value="'none'" ng-model="lockTypeBackground" ng-click="saveLockTypeBackground('none')" translate>None</ion-radio>
						<ion-radio name="lockTypeBackground" ng-value="'pin'" ng-model="lockTypeBackground" ng-click="saveLockTypeBackground('pin')" translate>4-digit PIN</ion-radio>
						<ion-radio ng-if="enabledFingerprint" name="lockTypeBackground" ng-value="'fingerprint'" ng-model="lockTypeBackground" ng-click="saveLockTypeBackground('fingerprint')" translate>Fingerprint</ion-radio>
						<ion-radio name="lockTypeBackground" ng-value="'password'" ng-model="lockTypeBackground" ng-click="saveLockTypeBackground('password')" translate>Password</ion-radio>
					</div>
				</label>

			</div>

			<div class="cta-buttons">
				<button
					class="button button-standard button-primary"
					ng-disabled="false"
					type="submit"
					ng-click="save(timeoutSoft, timeoutHard)"
					translate>
					Save
				</button>
			</div>
		</form>

	</ion-content>
</ion-view>
