<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Change Password' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

	<div class="list settings-list settings-input-group">

		<!-- Old Password -->
    <label class="item item-input item-stacked-label">
      <span class="input-label" translate>Old Password</span>
      <input type="password"
        placeholder="{{'Enter old password'|translate}}"
        ng-model="changePassword.getPassword">
    </label>

		<!-- New Password -->
		<label class="item item-input item-stacked-label">
				<span class="input-label" translate>New Password</span>
				<input type="password"
					placeholder="{{'Enter new password. Make it good!'|translate}}"
					ng-model="formData.password">
			</label>

		<!-- Confirm New Password -->
			<label class="item item-input item-stacked-label">
				<span class="input-label" translate>Confirm New Password</span>
				<input type="confirmPassword"
					placeholder="{{'One more time'|translate}}"
					ng-model="formData.confirmPassword">
			</label>

    <div class="item item-divider"></div>

  </div>
	<button type="submit" class="button button-standard button-primary" ng-disabled="importForm12.$invalid" translate>Change password</button>
  </ion-content>
</ion-view>
