<ion-view cache-view="false" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Change Password' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

		<form name='changePassword' novalidate>
			<div class="list settings-list settings-input-group">
				<div class="item item-input item-stacked-label">
					<span class="input-label" translate>Old Password</span>
					<span class="password-container">
						<input type="{{ typePassword1 ? 'text' : 'password' }}"
							placeholder="{{'Your current password'|translate}}"
							ng-model="oldPassword"
							ng-init="oldPassword = ''"
							name="oldPassword"
							required
						>
						<span class="item item-input item-stacked-label showPassword" ng-click="togglePassword('typePassword1')">
							<i class="fa" ng-class="{ 'fa-eye-slash': typePassword1, 'fa-eye': !typePassword1}"aria-hidden="true"></i>
						</span>
					</span>
				</div>
				<div class="item item-input item-stacked-label">
					<span class="input-label" translate>New Password</span>
					<span class="password-container">
						<input type="{{ typePassword2 ? 'text' : 'password' }}"
							placeholder="{{'At least 8 Characters. Make it good!'|translate}}"
							ng-model="password"
							ng-init="password = ''"
							name="password"
							required>
						<span class="item item-input item-stacked-label showPassword" ng-click="togglePassword('typePassword2')">
							<i class="fa" ng-class="{ 'fa-eye-slash': typePassword2, 'fa-eye': !typePassword2}"aria-hidden="true"></i>
						</span>
					</span>
				</div>

				<div class="item item-input item-stacked-label">
					<span class="input-label" translate>Confirm New Password</span>
					<span class="password-container">
						<input type="{{ typePassword3 ? 'text' : 'password' }}"
							placeholder="{{'One more time.'|translate}}"
							ng-model="confirmPassword"
							ng-init="confirmPassword = ''"
							name="confirmPassword"
							required
							data-password-verify="user.password">
						<span class="item item-input item-stacked-label showPassword" ng-click="togglePassword('typePassword3')">
							<i class="fa" ng-class="{ 'fa-eye-slash': typePassword3, 'fa-eye': !typePassword3}"aria-hidden="true"></i>
						</span>
					</span>
					<div class="valid-password" ng-show="password && confirmPassword" >
						<div class="matching" ng-show="password === confirmPassword">
							<div ng-show="password.length >= 8">
								<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								<span translate>Passwords match</span>
							</div>
							<div ng-show="password.length < 8" class="too-short">
								<i class="fa fa-times-circle-o" aria-hidden="true"></i>
								<span translate>Password too short</span>
							</div>
						</div>
					</div>
					<div class="not-matching" ng-show="password && confirmPassword && password !== confirmPassword">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
						<span translate>Passwords don't match</span>
					</div>
				</div>

			</div>

			<div class="cta-buttons">
				<button
					class="button button-standard button-primary"
					ng-disabled="!password || !confirmPassword || password!==confirmPassword || password.length < 8"
					type="submit"
					ng-click="changePass(password, oldPassword)"
					translate>
					Change Password
				</button>
			</div>
		</form>

	</ion-content>
</ion-view>
