<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Account Information' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div ng-include="'views/includes/walletItem.html'"></div>
      <div class="item" ng-click="saveBlack()">
        <span translate>Account Name (at creation)</span>
        <span class="item-note">
          {{walletName}}
        </span>
      </div>

      <div class="item" copy-to-clipboard="walletId">
        <span translate>Account Id</span>
        <span class="item-note">
          {{walletId}}
        </span>
      </div>
      
      <div class="item" ng-show="wallet.credentials.account">
        <span translate>Account</span>({{derivationStrategy}})
        <span class="item-note">
          #{{wallet.credentials.account}}
        </span>
      </div>


      <div ng-if="!wallet.needsBackup && canSign">
        <div class="item item-divider"></div>
        <a class="item item-icon-right" ui-sref="tabs.preferences.preferencesPrivateKey">
          <span translate>Extended Private Key</span>
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>

      <div ng-show="wallet.balanceByAddress[0]">
        <div class="item item-divider" translate>
          Balance By Address
        </div>
        <div class="item" ng-repeat="a in wallet.balanceByAddress" copy-to-clipboard="a.address">
          <span>{{a.address}}</span>
          <span class="item-note">
            {{(a.amount/1e8).toFixed(8)}} BTC
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
