<ion-view id="tab-settings" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Settings' | translate}}</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="settings-list list">

      <div class="item item-divider">{{'Manage' | translate}}</div>

      <a class="item item-icon-left item-icon-right" ui-sref="tabs.addressbook">
        <i class="icon big-icon-svg">
          <img src="img/icon-address-book.svg" class="bg"/>
        </i>
        <span>{{'Address Book' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tabs.settings.backupWarning({from: 'tabs.settings'})">
        <i class="icon big-icon-svg">
          <img src="img/icon-backup.svg" class="bg"/>
        </i>
        <span>{{'Backup seed' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tabs.import">
        <i class="icon big-icon-svg">
          <img src="img/icon-import.svg" class="bg"/>
        </i>
        <span>{{'Import wallet' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tabs.export">
        <i class="icon big-icon-svg">
          <img src="img/icon-export.svg" class="bg"/>
        </i>
        <span>{{'Export wallet' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="lockCanoe()">
        <i class="icon big-icon-svg ion-ios-locked-outline"></i>
        <span>{{'Lock Canoe' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a ng-if="isCordova && !isWindowsPhoneApp" class="item item-icon-left item-icon-right" ui-sref="tabs.shareApp({score: 4, skipped: true, fromSettings: true})">
        <i class="icon big-icon-svg">
          <img src="img/icon-heart.svg" class="bg"/>
        </i>
        <span translate>Share Canoe</span>
        <i class="icon bp-arrow-right"></i>
      </a>

    <div class="item item-divider">{{'Preferences' | translate}}</div>

      <a class="item item-icon-left item-icon-right" ui-sref="tabs.notifications">
        <i class="icon big-icon-svg">
          <img src="img/icon-notifications.svg" class="bg"/>
        </i>
        <span>{{'Notifications' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item has-setting-value item-icon-left item-icon-right" ui-sref="tabs.language">
       <i class="icon big-icon-svg">
         <img src="img/icon-language.svg" class="bg"/>
       </i>
       <span class="setting-title">{{'Language' | translate}}</span>
       <span class="setting-value">
         {{currentLanguageName|translate}}
       </span>
       <i class="icon bp-arrow-right"></i>
     </a>

    <a class="item has-setting-value item-icon-left item-icon-right" ui-sref="tabs.altCurrency">
      <i class="icon big-icon-svg">
        <img src="img/icon-alternative-currency.svg" class="bg"/>
      </i>
      <span class="setting-title">{{'Alternative Currency' | translate}}</span>
      <span class="setting-value">
        {{selectedAlternative.name}}
      </span>
      <i class="icon bp-arrow-right"></i>
    </a>

    <a class="item item-icon-left item-icon-right" ui-sref="tabs.preferencesSecurity" ng-if="(isCordova || isDevel) && !isWindowsPhoneApp">
      <i class="icon big-icon-svg ion-ios-locked-outline" ng-if="locked"></i>
      <i class="icon big-icon-svg ion-ios-unlocked-outline" ng-if="!locked"></i>
      <span class="setting-title">{{'Security Preferences' | translate}}</span>
      <i class="icon bp-arrow-right"></i>
    </a>

    <a class="item item-icon-right item-icon-left" href ui-sref="tabs.advanced">
      <i class="icon big-icon-svg">
        <img src="img/icon-advanced.svg" class="bg"/>
      </i>
      <span>{{'Advanced' | translate}}</span>
      <i class="icon bp-arrow-right"></i>
    </a>

  <div class="item item-divider" ng-show="accounts[0]">{{'Wallet Accounts' | translate}}</div>
  <a class="item item-icon-left item-icon-right" href
       ui-sref="tabs.preferences({'accountId': account.id})"
       ng-repeat="account in accounts track by $index">
    <span ng-include="'views/includes/accountListSettings.html'"></span>
  </a>
      <div class="item item-divider">{{'Support' | translate}}</div>

      <a class="item item-icon-left item-icon-right" ng-click="openExternalLink()">
        <i class="icon big-icon-svg">
          <img src="img/icon-help-support.svg" class="bg"/>
        </i>
        <span>{{'Help & Support' | translate }}</span>
        <i class="icon big-icon-svg">
          <img src="img/icon-link.svg" class="bg just-a-hint"/>
        </i>
      </a>

      <a class="item item-icon-left item-icon-right" ui-sref="tabs.feedback">
        <i class="icon big-icon-svg">
          <img src="img/icon-send-feedback.svg" class="bg"/>
        </i>
        <span>{{'Send Feedback' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href ui-sref="tabs.howToBuyNanos">
        <i class="icon big-icon-svg">
          <img src="img/icon-howto-buy.svg" class="bg"/>
        </i>
        <span translate>How to buy/sell Nanos</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="openDonate()">
        <i class="icon big-icon-svg">
          <img src="img/icon-gift.svg" class="bg"/>
        </i>
        <span>{{'Donate to Canoe' | translate}}</span>
        <i class="icon bp-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href ui-sref="tabs.about">
        <i class="icon big-icon-svg">
          <img src="img/icon-about.svg" class="bg"/>
        </i>
        <span>{{'About' | translate}}</span> Canoe
        <i class="icon bp-arrow-right"></i>
      </a>

  </ion-content>
</ion-view>
