<ion-view show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'How to Buy or Sell Nanos' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list" id="how-to-buy">
      <div id="terms" class="enable_text_select">     
        <p translate>
          So, you want to buy some Nano? Are you ready to experience the wonders of feeless & instant commerce? Maybe you’ve already invested in Nano (or RaiBlocks, if you’ve been around a while!) and want to ‘cash out’? Well, here is a simple guide on how to buy or sell Nano.  
        </p>
        <h3 translate>The Easiest Way</h3>
        <p translate>
          You can exchange Nano with friends and family. Canoe displays amounts in both Nano and your chosen fiat currency (Fiat is a fancy word for the currency of your country: USD, EUR, GBP, etc). Nano can be sent almost instantly by either providing your wallet address to the payer, or by them scanning the wallet’s QR code.
        </p>

        <h3 translate>Buy Online</h3>
        <p class="emphasis" translate>
          Disclaimer: The Canoe team does not work with any of the web sites listed below. Nano, just like any other cryptocurrency, is highly volatile so don’t invest money you are not OK with losing (Your house and your kid’s college funds are definitely a no-no).
        </p> 
        <p translate>  
          Unfortunately, there is currently not a way to buy Nano directly from fiat currency. This is the case with most cryptocurrencies. The ‘gateway’ currencies are primarily Bitcoin and Ethereum. You will need to get your hands on one of these first.
        </p>
        <p>
          <span translate>You will need to sign up for an exchange that will sell you Bitcoin or Ethereum in return for your fiat currency. Some examples are</span>&nbsp;<a href="https://coinbase.com">Coinbase</a>&nbsp;<span translate>or</span>&nbsp;<a href="https://gemini.com/">Gemini</a>&nbsp;<span translate>This is usually quick, however many exchanges have Know Your Customer (KYC) requirements, and you may be required to provide a form of ID, such as a passport, driver’s license, or national ID.</span>
        </p>
        <p>  
          <span translate>Once you have secured your Bitcoin or Ethereum, register to an exchange that offers Nano, such as</span>&nbsp;<a href="https://www.kucoin.com/">Kucoin</a>&nbsp;<span translate>or</span>&nbsp;<a href="https://nanex.co/">Nanex</a>.&nbsp;<span translate>Send your Bitcoin or Ethereum to your account in Kucoin or Nanex (usually under the deposit function). Once the transfer is complete, you will then be able to trade for Nano.</span>
        </p>
        <p><span translate>You can get started with free Nano by visiting the</span>&nbsp;<a href="https://www.nanofaucet.org/">Nano faucet</a>&nbsp;<span translate>and entering your public wallet address (the one that starts with xrb_)!</span></p>
        <p class="emphasis"translate>
          Remember, your Nano are only safe when they are in your wallet. If you keep them on an exchange site it could get stolen by hackers or crooked exchange owners.
        </p>
           
        <h3  translate>Sell online</h3> 
        <p translate>
          Pretty much the same as buying, just in reverse. First send Nano to an exchange, or directly to your Nano/fiat gateway if you’ve found one.
        </p> 
        <p translate>
          Once your Nano are on the exchange, sell it for Bitcoin (or another fiat-paired cryptocurrency) and send them to your crypto/fiat gateway. Finally, sell your Bitcoin/crypto for fiat, transfer the money to your bank account, and you are done!
        </p> 
        <p>
          <span translate>More information can be found on the</span>&nbsp;<a href="https://www.reddit.com/r/nanocurrency/">Nano subreddit</a>
        </p> 
        <p class="emphasis" translate>
          Be careful with all these steps; keep your seed backed up for safety. Enjoy fee-less and instant payments with Nano and Canoe!
        </p> 
         
      </div>
    </div>
  </ion-content>
</ion-view>
