<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Create Wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <form name="setupForm" ng-submit="create()" novalidate>
      <div class="list settings-list settings-input-group">
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Wallet name</span>
          <input type="text"
            placeholder="{{'Family vacation funds'|translate}}"
            ng-model="formData.walletName"
            ng-required="true"
            ng-focus="formFocus('wallet-name')"
            ng-blur="formFocus(false)">
        </label>

        <div class="item item-divider"></div>

        <a class="item" ng-click="showAdvChange()">
          <span translate ng-show="!showAdv">Show advanced options</span>
          <span translate ng-show="showAdv">Hide advanced options</span>
        </a>

        <div ng-show="showAdv">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Wallet Service URL</span>
            <input type="text" ng-model="formData.bwsurl">
          </label>

          <div ng-show="formData.seedSource.id == 'new' || formData.seedSource.id == 'set'">
            <ion-toggle class="has-comment" ng-model="encrypt" toggle-class="toggle-positive" ng-change="resizeView()">
              <span class="toggle-label" translate>Add a password</span>
            </ion-toggle>
            <div class="comment">
              <span ng-show="formData.seedSource.id == 'new'" translate>Add an optional password to secure access to the wallet</span>
            </div>
          </div>

          <div class="item item-input" ng-show="encrypt">
            <input ng-show="formData.seedSource.id == 'new'"
                   placeholder="{{'Password'|translate}}"
                   type="password"
                   autocapitalize="off"
                   ng-model="formData.createPassphrase"
                   ng-change="checkPassword(formData.createPassphrase, formData.repeatPassword)"
                   ng-class="{'correct': result == 'correct', 'incorrect': result == 'incorrect'}">

          </div>
          <div class="item item-input" ng-show="encrypt">
            <input ng-show="formData.seedSource.id == 'new'"
                   placeholder="{{'Repeat password'|translate}}"
                   type="password"
                   autocapitalize="off"
                   ng-model="formData.repeatPassword"
                   ng-change="checkPassword(formData.createPassphrase, formData.repeatPassword)"
                   ng-class="{'correct': result == 'correct', 'incorrect': result == 'incorrect'}">

          </div>

          <div class="text-center box-notification error" ng-show="(formData.seedSource.id =='new' || formData.seedSource.id =='set') && encrypt">
            <strong translate>This password cannot be recovered. If the password is lost, there is no way you could recover your funds.</strong>
          </div>

          <ion-checkbox ng-model="formData.passwordSaved" class="checkbox-positive" ng-show="encrypt && result == 'correct'">
            <span class="toggle-label" translate>I have written it down</span>
          </ion-checkbox>

        </div> <!-- advanced -->
      </div> <!-- list -->

      <button type="submit" class="button button-standard button-primary"
        ng-disabled="setupForm.$invalid || ((encrypt && !formData.passwordSaved) || encrypt && ((formData.seedSource.id == 'new' && !formData.createPassphrase) || (formData.seedSource.id == 'set' && !formData.passphrase)))">
        <span translate>Create wallet</span>
      </button>
    </form>
  </ion-content>
</ion-view>
