<ion-view show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'How to buy or sell Nanos' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div id="terms" class="enable_text_select">     
        <br/>     
        <p class='terms__heading' translate>How to buy/sell Nanos</p> 
        <p>
          <span translate>So, now you want to buy some Nanos and play arround. Or maybe, you've got some in your Canoe wallet and want to get 'real money' ?</span><br/>  
          <span translate>Here's how to do...</span></p> 
         
        <br/> 
        <p class='terms__heading' translate>Disclamer</p> 
        <p translate>The Canoe team does not work with any of the web sites listed below. Nano, just like any other cryptocurrency is highly volatile so don't put too much money into this and hodl !</p> 
          
        <br/> 
        <p class='terms__heading' translate>Warning</p> 
        <p translate>If you are used to buying and selling cryptos, don't waste your time, you will probably not learn anything here.</p> 
           
        <br/> 
        <p class='terms__heading' translate>The easy way</p> 
        <p translate>Obviously, you can buy and sell Nanos to a friend. Canoe displays amounts both in NANO and and in your currency so it's easy to convert.</p> 
           
        <br/> 
        <p class='terms__heading' translate>Buy online</p> 
        <p>
          <span translate>You need to register to a web site that exchanges fiat (your local currency like $) to some crypto currency. This process can take some time, a week or so and they will ask for an id scan, proof of where you live at etc.</span><br/><br/>
          <span translate>You should find a good reason to trust the web site you want to pick here. Google, speak with friends who are into cryptocurrencies. Then this web site should probably be located in your country. Another important point is : do they sell directly Nanos ?</span><br/><br/>
          <span translate>The ones selling Nanos are pretty rare as for now, so, if you don't find one, being able to buy a fast and low feas cryptocurrency instead : Ether, Litecoin or Bitcoincash can save you money and time.</span><br/><br/>
          <span translate>Once you got some cryptocurrency, say Bitcoins, register to an exchange like</span>&nbsp;<a href='https://www.kucoin.com'>Kucoin</a>&nbsp;<span translate>or</span>&nbsp;<a href='https://nanex.co/'>Nanex</a>&nbsp;<span translate>that trades Nanos. Send your Bitcoins to your account on this site and trade it for Nanos. Once you get your precious Nanos, send it to your Canoe wallet using your xrb_... address (you can copy it clicking on the receive button below).</span><br/><br/>
          <span translate>Do remember, your Nanos are only safe when in your wallet. If you keep it on an exchange site it could get stolen by hackers or even the site owners.</span><br/>
        </p> 
         
        <br/> 
        <p class='terms__heading' translate>Sell online</p> 
        <p>
            <span translate>Pretty much the same as to buy, just go the other way. First send Nanos to an exchange or directly to your Nano/local currency gateway if you've found one.</span><br/><br/>
            <span translate>Once your Nanos are on the exchange, sell it for Bitcoins (or other) and send them to your Bitcoin/local currency gateway. Finally, send your local money to your bank account, and you are done !</span><br/>
        </p> 
         
        <p translate><span translate>You can probably find more infos about all this on</span>&nbsp;<a href='https://www.reddit.com/r/nanocurrency/'>reddit nanocurrency</a></p>
        
        <br/>
        <b translate>Be carefull with all these steps, keep your seed backed up and you should be all fine. Enjoy feeless and instant payments with Nano and Canoe !</b>
        <br/>
        <br/>
      </div>
    </div>
  </ion-content>
</ion-view>
