<!-- Shamelessly using onboarding creating password page. See tour.html -->
<ion-modal-view id="password-modal" ng-controller="passwordController">

  <ion-view class="onboarding" id="onboarding-tour">
      <ion-content id="onboarding-create-password" scroll="false">
      <div class="onboarding-topic" translate>Wallet is Locked</div>

      <form ng-submit="unlock(password)" class="create-password-form" name='createPassword' novalidate>
        <div class="list settings-list settings-input-group">

          <div class="input-password item item-input item-stacked-label">
            <input autocapitalize="none" autocorrect="off" id="input-password" ng-model="password" type="{{ typePassword ? 'text' : 'password' }}" name="password" placeholder={{'Password'|translate}} autofocus>
            <div class="item item-input item-stacked-label showPassword" ng-click="togglePassword()">
              <i class="fa" ng-class="{ 
                'fa-eye-slash': typePassword, 
                'fa-eye': !typePassword 
                }" 
              aria-hidden="true"></i>
            </div>
          </div>

          <div ng-if="error" class="item item-input item-stacked-label bad-password">
            <div ng-if="!expires" translate>Incorrect password, try again.</div>
            <time ng-if="expires" translate>Try again in {{expires}}</time>
          </div>

        </div>

        <div class="cta-buttons">
          <button
            class="button button-standard button-primary"
            ng-disabled="!password || expires"
            type="submit"
            autofocus="true"
            >
            <!-- 
            style="background-color: #ffd700" -->
            {{'Unlock' | translate}}
          </button>
          <div>
            <h5 translate>Forgot Password?</h5>
            <a class="forgot-password" ng-click="gotoOnboarding()" translate>Go back to onboarding.</a>
        </div>
        </div>

      </form>
      </ion-content>
  </ion-view>
</ion-modal-view>
