<ion-modal-view id="password-modal" ng-controller="passwordController">
  <ion-header-bar align-title="center" class="bar-royal">
  </ion-header-bar>
  <div class="content">
    <div class="block-text row">
      <div class="message" ng-if="!error" translate>Please enter your password</div>
      <div class="message error" ng-if="error">
        <div ng-if="!expires" translate>Incorrect password, try again.</div>
        <time ng-if="expires" translate>Try again in {{expires}}</time>
      </div>
    </div>
    <div class="app-icon">
      <i class="icon big-icon-svg">
        <div class="bg"></div>
      </i>
    </div>
    <form novalidate>
      <div class="block-code">
        <label class="item item-input item-stacked-label">
          <input type="password"
            ng-model="password"
            placeholder="{{'Password'|translate}}"
            >
        </label>
      </div>
      <div id="cta-buttons">
        <button class="button button-standard button-primary" ng-disabled="disableButton || (password.length == 0)" ng-click="unlock(password)" translate>Unlock Canoe</button>
      </div>
    </form>
  </div>
</ion-modal-view>
