<ion-modal-view id="password-modal" ng-controller="passwordController">
  <ion-header-bar align-title="center" class="bar-royal">
    <button ng-if="action != 'check'" class="button button-back button-clear" ng-click="hideModal()" translate>
      Close
    </button>
  </ion-header-bar>
  <div class="content">
    <div class="block-text row">
      <div class="message" ng-if="!confirmPin && !error" translate>Please enter your password</div>
      <div class="message" ng-if="confirmPin && !error" translate>Confirm your password</div>
      <div class="message error" ng-if="error">
        <div ng-if="!expires" translate>Incorrect password, try again.</div>
        <time ng-if="expires" translate>Try again in {{expires}}</time>
      </div>
    </div>
    <div class="app-icon">
      <i class="icon big-icon-svg">
        <div class="bg"></div>
      </i>
    </div>
    <div class="block-code">
    <label class="item item-input item-stacked-label">
      <input type="password"
        placeholder="{{'Password'|translate}}"
        >
    </label>
  </div>
</ion-modal-view>
