#how-to-buy {
  color: rgba(0, 0, 0, 0.87);
  background: white;
  padding: 24px 32px;

  .emphasis {
    font-style: italic;
    color: rgba(0,0,0,.56);
    background: rgba(0,0,0,.05);
    padding: 6px;
    border-radius: 3px;
  }
}
